<div class ="col-md-10">
	<table class="display table table-bordered table-striped">
		<thead>
			<tr>
				<th>Leave Count</th>
				<th>Employee ID</th>
				<th>Date Created</th>
				<th>Total leave</th>
				<th>Status</th>
			</tr>
		</thead>

		<tbody>
			<% @leaves.each do |leave| %>
			<tr>
				<td><%= leave.leave_to - leave.leave_from %></td>
				<td><%= current_user.id %></td>
				<td><%= leave.created_at.strftime("%b. %d %Y") %></td>
				<td>$<%#= leave.grand_total %></td>
				<td>
				<%= link_to leafe_path(leave), :class => "btn btn-primary btn-xs" do %>
				   <i class="fa fa-folder"></i> View
				<% end %>
				
				<%# unless current_user.has_role?(:employee) %>
					<%= link_to edit_leafe_path(leave), :class => "btn btn-info btn-xs" do %>
					   <i class="fa fa-pencil"></i> Edit
					<% end %>

					<%= link_to leafe_path(leave), :class => 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } do %>
					   <i class="fa fa-trash-o"></i> Delete
					<% end %>
				<%# end %>
			</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%#= paginate @leaves %>
</div>